.flex-container {
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}
.places {
	display:inline-block;
	height:100%;
	position:relative;
}

.places h1 {
	font-size:30px;
	text-align:left;
}
article.places {
	width:390px;
	padding:20px;
	margin:20px;
	border:1px solid #FF5A5F;
	border-radius:4px;	
}
.places h2 {
	font-size:30px;
	text-align: center;
}